/* * { border: 1px solid red; } */
/* .home-div{
  background-color: rgba(0, 0, 0, 0.3); 
  
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
} */
.show-on-small {
  display: none;
}
@media (min-width: 768px) {
  .hide-on-md {
    display: none;
  }
  .show-on-small {
    display: block;
}
}
.home-content{
  z-index: 1 !important;
}
.ul-div{
  z-index: 10000 !important;
}
.home-div{
  z-index: 1 !important;
  position: relative;
}

.ul-block{
  display: block !important;
}
.ul-hidden{
  display: none !important;
}

.nav-item2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: larger;
  padding: 5px;
}
.nav-item2 a{
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item2:hover{
  color: orange;
}
.nav-item a{
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav a{
  color: inherit;
  text-decoration: none;
}


.nav-item:hover {
  border-bottom: 3px solid orange;

}
/* .home-content {
   height: calc(100vh - 56px); 
  position: fixed;
  width: 100%;
  margin-top: 0%;
  
   box-shadow: 0 0 10px rgba(80, 79, 79, 0.8); 
} */
/* @media (max-width: 768px) {
  .home-content {
    height:100vh;
    width: 100%;
  }
} */

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* .home-content::before {
  animation: slide 2s ease-in-out;
} */
/* .create-account{
  display: flex;
  height: calc(100vh - 56px);
  position: fixed;
  width: 100vw;
  justify-content: center;
  align-items: center;
  

} */
.create-account-container {
  display: flex;
  /* height: calc(100vh - 90px); */
  position: fixed;
  width: 80vw;
  justify-content: center;
 
}

.left-column{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  

}
.right-column{
  display: flex;
  flex: 1;
}
.right-column form{
  
  height: 90%;
  width: 100%;
}
.right-column form input {
  background-color: white;
  width: 90%;
}
.right-column form label {
  
  background-color: transparent;
}
.input-container:focus-within label{
  color: black;
}
.left-column img {
  
  height: 95%;
  width: 95%;
  border-radius: 8px;
}


.input-container{
  width: 90%;
  /* margin-top: 10px; */
  padding: 5px;
}
.sidebar-container {
  display: flex;
  height: 100vh;
  position: fixed;
  justify-content: center;
  /* background-color: rgba(9, 53, 185, 0.8); semi-transparent white */
  color: white
}
.sidebar-item a{
  color: inherit;
  text-decoration: none;
}
.sidebar-item:hover {
  background-color: rgba(2, 22, 87, 0.8);
  border-radius: 8px;
  
}
.sidebar-item {
  padding: 8px;
  margin: 10px;
  border-radius: 20px;
}
.sidebar-item .active{
  background-color: rgba(92, 167, 252, 0.9);
  border-radius: 8px;
  padding: 5px;
  text-shadow: 0 0 10px #1effcb, /* Horizontal offset, vertical offset, blur radius, color */
               0 0 20px #1eff1e,
               0 0 30px #78ff1e,
               0 0 40px #bcff1e;
  padding-left: 5px;
  padding-right: 7px;
}
.inherit-sidebar{
  flex: 2;
}
.venue-card:hover {
  box-shadow: 0 0 20px rgb(0, 255, 0);
}


/* .login{
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: center;
  align-items: center;

} */
.login-container {
  display: flex;
  /* height: calc(100vh - 90px); */
  width: 80%;
  position: fixed;
  justify-content: center;
 
}
.login-left-column{
  display: flex;
  flex: 1;
  
  justify-content: center;
  align-items: center;
}
.login-right-column{
  display: flex;
  flex: 1;
 
  justify-content: center;
  align-items: center;
}
.login-right-column form{
  
  height: 70%;
  width: 100%;
}

.login-left-column img {
  height: 100%;
  width: 95%;
  border-radius: 8px;
  
}
.dashboard-container{
  background-color: rgb(241 245 249);
}
.dashboard-container .dashboard-content card{
  border-color: blue;
 border-width: 2px;
}
.dashboard-content{
  height: 100vh;
  /* background-color: #1eff1e; */
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.reserve-div{
  height: 100vh;
  background-color: #f5f9fd;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-end; */
}
.welcome-div{
  flex: 1;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.two-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 13;
  /* background-color: bisque;  */
}
.content-one{
  /* background-color: aquamarine; */
  
  display: flex;
  flex-direction: column;
}
.aboutYou-div{
   /* background-color: burlywood;  */
  flex:1;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  justify-content: center;
}
.reservation-div{
  /* background-color: darkcyan; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.achievement-div{
  /* background-color: rgb(245, 220, 158); */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tips-div{
   /* background-color: darkgoldenrod;  */
  flex:2;
  display: flex;
  /* align-items: center;
  justify-content: center;
  overflow: hidden; */
 

}
.other-div{
   /* background-color: darkkhaki;  */
  flex: 1;
}
.content-two{
  /* background-color: blueviolet; */
  flex: 3;
}
.news-card-text:hover{
  background-color: rgb(241 245 249);
  border-radius: 2px;
}
.doc-one a:hover{
  background-color: rgb(241 245 249);
}
.profile-icon{
  color: rgba(2, 22, 87, 0.8);
}
.navi a{
  color: inherit;
  text-decoration: none;
}
